:root{
    --white: #FFF;
    --primary-color: rgb(255, 139, 45);
    --primary-hover-color: rgb(247, 125, 26);
    --secondary-color: rgb(22, 22, 22);
    --secondary-hover-color: rgb(3, 3, 3);
    --danger-color: rgb(246, 17, 17);
    --danger-hover-color: rgb(221, 5, 5);
    --gray: #eaeaea;
}

*{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: 0;
    padding: 0; */
    /* box-sizing: border-box; */
}

body {
    background-color: rgb(251, 251, 251);
}

.card{
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    border-radius: 2px;
    padding: 1rem;
    background-color: var(--white);
}

.btn{
    display: inline-block;
    padding: .6rem 1rem;
    text-decoration: none;
    line-height: 1.5;
    font-weight: 500;
    font-size: .8rem;
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    margin-bottom: .5rem;
    -moz-user-select: none;
    user-select: none;
    transition-property: background-color, box-shadow;
    transition-duration: .3s;
    text-align: center;
    fill: var(--white);
}

.btn * {
    vertical-align: middle;
}

.btn:hover{
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.btn-primary{
    color: var(--white);
    background-color: var(--primary-color);
}

.btn-primary:hover{
    background-color: var(--primary-hover-color);
}

.btn-secondary{
    color: var(--white);
    background-color: var(--secondary-color);
}

.btn-secondary:hover{
    background-color: var(--secondary-hover-color);
}

.btn-danger{
    color: var(--white);
    background-color: var(--danger-color);
}

.btn-danger:hover{
    background-color: var(--danger-hover-color);
}

.text-center{
    text-align: center;
}

.text-uppercase{
    text-transform: uppercase;
}

.w-100{
    width: 100%;
}

.line{
    width: 200px;
    display: block;
    border: none;
    background-color: var(--gray);
    height: 1px;
}

.image-profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.fw-400{
    font-weight: 400;
}

.fw-700{
    font-weight: 700;
}